<!DOCTYPE html>
<html lang="en">
<head>
   {{>links}}
    </head>
<body style="background-image: none">
    <div class="container errpage">
        <img src="https://img.freepik.com/free-vector/404-error-design-with-angry-cloud_23-2147733485.jpg" alt="err page">
        <h4>{{errMsg}}</h4>
        <a href="/"><button>Go Back</button></a>
    </div>
</body>
</html>