<!DOCTYPE html>
<html lang="en">
<head>
   {{>links}}
    </head>
<body>
   {{>navbar}}

    <div class="container mx-lg-6 about">
        <h2>About Weather App</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse fugit sequi corporis commodi maiores velit quaerat assumenda possimus, debitis, sunt quibusdam asperiores libero quia mollitia sit a aspernatur atque? Rem, eligendi itaque. Recusandae sed qui, blanditiis, veritatis deleniti repellat omnis nulla sit dolor distinctio odit nobis voluptatum! Quidem, odio.</p>
    </div>
    {{>footer}}

</body>
</html>