<html lang="en">

<head>
  
   {{>links}}
    

  <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Open+Sans:wght@600&family=Signika+Negative:wght@304&display=swap" rel="stylesheet"> -->
</head>

<body>
  {{>navbar}}
  <div class="main">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h5>Welcome to the Weather App</h5>
          <h1>Get the latest Weather info of your city</h1>
          <a href="/weather">
          <button >Check now</button>
          </a>
        </div>
      </div>
    </div>
  </div>

  {{>footer}}


</body>

</html>